[submodule "lib/dependencies/pyyaml"]
	path = lib/dependencies/pyyaml
	url = git@github.com:pflarr/pyyaml.git
[submodule "lib/dependencies/yaml_config"]
	path = lib/dependencies/yaml_config
	url = git@git.lanl.gov:pflarr/yaml_config.git
