.deps_installed
.env
PAV/scripts/site
*.swp
*.swo

# Python Artifacts
__pycache__/
*.pyc

# IntelliJ Artifacts (Why?)
.idea

# VSCode Artifacts
.vscode
*.code-workspace

pav.pstats
.local/
examples/working_dir
