[submodule "lib/pavilion/dependencies/sub_repos/yapsy"]
	path = lib/sub_repos/yapsy
	url = https://github.com/tibonihoo/yapsy.git
[submodule "lib/pavilion/dependencies/sub_repos/requests"]
	path = lib/sub_repos/requests
	url = https://github.com/requests/requests.git
[submodule "lib/pavilion/dependencies/sub_repos/urllib3"]
	path = lib/sub_repos/urllib3
	url = https://github.com/shazow/urllib3.git
[submodule "lib/pavilion/dependencies/sub_repos/chardet"]
	path = lib/sub_repos/chardet
	url = https://github.com/chardet/chardet.git
[submodule "lib/pavilion/dependencies/sub_repos/python-certifi"]
	path = lib/sub_repos/python-certifi
	url = https://github.com/certifi/python-certifi.git
[submodule "lib/pavilion/dependencies/sub_repos/idna"]
	path = lib/sub_repos/idna
	url = https://github.com/kjd/idna.git
[submodule "lib/sub_repos/yaml_config"]
	path = lib/sub_repos/yaml_config
	url = https://github.com/lanl-preteam/yaml_config.git
[submodule "lib/sub_repos/lark"]
	path = lib/sub_repos/lark
	url = https://github.com/lark-parser/lark.git
