[submodule "lib/dependencies/pyyaml"]
	path = lib/pavilion/dependencies/sub_repos/pyyaml
	url = git@github.com:pflarr/pyyaml.git
[submodule "lib/dependencies/yaml_config"]
	path = lib/pavilion/dependencies/sub_repos/yaml_config
	url = git@git.lanl.gov:pflarr/yaml_config.git
[submodule "lib/pavilion/dependencies/sub_repos/yapsy"]
	path = lib/pavilion/dependencies/sub_repos/yapsy
	url = https://github.com/tibonihoo/yapsy.git
[submodule "lib/pavilion/dependencies/sub_repos/requests"]
	path = lib/pavilion/dependencies/sub_repos/requests
	url = https://github.com/requests/requests.git
[submodule "lib/pavilion/dependencies/sub_repos/tzlocal"]
	path = lib/pavilion/dependencies/sub_repos/tzlocal
	url = https://github.com/regebro/tzlocal.git
[submodule "lib/pavilion/dependencies/sub_repos/urllib3"]
	path = lib/pavilion/dependencies/sub_repos/urllib3
	url = https://github.com/shazow/urllib3.git
