include PAV/pth
include PAV/pv*
recursive-include PAV/ *.py
include test_suites/*.yaml
include t1/*.bash
include t1/i*
include PAV/plugins/*.yapsy-plugin
include PAV/scripts/*
include docs/*.txt
recursive-include PAV/ README.* 
exclude PAV/special_pkgs/mock.*
exclude PAV/wasteland/*
exclude test 
