#! /bin/bash

echo "There are [sched.num_nodes] nodes on this system."
echo "This is in the [partition] partition."
echo "This host is called [sys.hostname]."
echo "Is this complicated? [[sys.complicated.a]/[sys.complicated.b]]"
